<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>PatientAnalysis</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

</head>

<body>
  <nav>
    <% if user_signed_in? %>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Pacientes', patients_path %> |
    <%= link_to 'Clínicas', clinics_path %> |
    <%= link_to 'Profissionais', clinics_path %> |
    <%= link_to 'Escolas', schools_path %> |
    <%= link_to 'Planos de Saúde', companies_path %> |
    <%= form_with url: destroy_user_session_path, method: :delete do %>
      <%= submit_tag 'Sair' %>
      <% end %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
    <% end %>
  </nav>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
</body>
</html>
